@import "paper-dashboard";


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

dialog {
  position: fixed;
  top: 5vh;
  width: 33rem;
  left: calc(50% - 15rem);
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  padding: 1rem;
  background-color: cadetblue;
  z-index: 100;
  border: none;
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   z-index: 10;
//   background-color: rgba(0, 0, 0, 0.75);
// }

// dialog {
//   position: fixed;
//   top: 15vh;
//   width: 33rem;
//   left: calc(50% - 15rem);
//   margin: 0;
//   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
//   border-radius: 3px;
//   padding: 1rem;
//   background-color: cadetblue;
//   z-index: 100;
//   border: none;
// }

.enkaizen-bg {
  text-align: center;
}
.enkaizen-bg img {
  height: 100%;
  width: 100%;
}
.form-wrapper {
  padding: 10px;
}
.card.form-wrapper {
  height: 100%;
}

.register-wrapper {
  padding-top: 10%;
}
.registration-form {
  padding: 10px;
  background-color: darkslateblue !important;
}
.enkaizen-bg {
  text-align: center;
}
.enkaizen-bg img {
  height: 100%;
  width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
  .fade-leave-to
  /* .fade-leave-active in <2.1.8 */

 {
  opacity: 0;
}

.vue-notifyjs.notifications {
  .alert {
    z-index: 10000;
  }
  .list-move {
    transition: transform 0.3s, opacity 0.4s;
  }
  .list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active {
    transition: transform 0.2s ease-in, opacity 0.4s ease-in;
  }
  .list-leave-active {
    transition: transform 1s ease-out, opacity 0.4s ease-out;
  }

  .list-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  .list-leave-to {
    opacity: 0;
    transform: scale(1.2, 0.7);
  }
}